mixin pagenav()
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        span.navbar-brand Wedical
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNavContent', aria-controls='mainNavContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        div.collapse.navbar-collapse.justify-content-end#mainNavContent
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/logout')= __('Logout')