// Please change these settings
const config = {
  // app secret (DO CHANGE THIS!)
  secret: 'UseASecureAndLongString',
  // base URL used in links in emails
  baseUrl: 'http://localhost:3000/',
  admin: {
    // email address of admin user
    email: 'admin@web.org',
    // initial password of admin
    passwd: 'admin',
  },
};

module.exports = config;
