include ../invite/_inviteCode.pug

div.container.bg-light.mt-2
  div.row
    div.col.text-center
      h1.h1.mt-2 PARTY PARTY PARTY
      p= __('If you recieved an invite, please enter the Code below')
      div.m-4.d-inline-block
        +codeForm
