div.container.bg-light.mt-2
  div.row
    div.col
      h1.h1.mt-4 Hi #{invite.title}
      p= __('You have been invited to the party! =)')
      div.container.m-2
        div.row
          div.col
            include ../invite/_acceptBtn.pug
          div.col
            include ../invite/_declineBtn.pug