script(src='/js/jquery.min.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/jquery.endless-input.js')
script(src='/js/jquery.form.min.js')
script(src='/js/jquery.quicksearch.min.js')
script(src='/ext/lou-multi-select/js/jquery.multi-select.js')
script(src='/js/dataTables.min.js')
script(src='/js/dataTables.bootstrap4.min.js')
script(src='/js/bootstrap4-toggle.min.js')
script(src=`/js/${locale}.js`)
script(src='/js/modals.js')
script(src='/js/datatables.js')
script(src='/js/forms.js')
script(src='/js/main.js')