link(rel='stylesheet', type='text/css', href='/styles/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/styles/bootstrap.tiles.css')
link(rel='stylesheet', type='text/css', href='/styles/fontawesome.min.css')
link(rel='stylesheet', type='text/css', href='/styles/datatables.min.css')
link(rel='stylesheet', type='text/css', href='/styles/datatables.bootstrap4.min.css')
link(rel='stylesheet', type='text/css', href='/styles/bootstrap4-toggle.min.css')
link(rel='stylesheet', type='text/css', href='/ext/lou-multi-select/css/multi-select.dist.css')
link(rel='stylesheet', type='text/css', href='/styles/main.css')
link(rel='stylesheet', type='text/css', href='/styles/buttons.css')
link(rel='stylesheet', type='text/css', href='/styles/custom.css')