extends main_layout.pug

block content
  main.h-100
      div.container.h-100
        div.row.h-100
            div.col-8.offset-2.my-auto
              div.card.bg-danger.text-white
                div.card-header
                  h2 Error #{error.status}
                div.card-body
                  h2= message
                  pre #{error.stack}
