doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/animate.min.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/buttons.css')
  body
    #grid
    main.h-100
      div.container.h-100
        div.row.h-100
            div.col.col-sm-10.offset-sm-1.col-lg-6.offset-lg-3.my-auto
              block content
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    script(src='/js/main.js')
