.btn-lang
    height: 25px
    
.btn-gender-m
    color: #fff;
    background-color: #b3d9ff;
    border-color: #b3d9ff;
    text-shadow: 0 0 1px #444

.btn-gender-m.active
    color: #fff;
    background-color: #3399ff;
    border-color: #3399ff;
    text-shadow: 0 0 1px #444

.btn-gender-f
    color: #fff;
    background-color: #ffb3b3;
    border-color: #ffb3b3;
    text-shadow: 0 0 1px #444

.btn-gender-f.active
    color: #fff;
    background-color: #ff3333;
    border-color: #ff3333;
    text-shadow: 0 0 1px #444

.btn-gender-d
    color: #fff;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    text-shadow: 0 0 1px #444

.btn-gender-d.active
    color: #fff;
    background-color: #999999;
    border-color: #999999;
    text-shadow: 0 0 1px #444



    
.btn-expectation-expected
    color: #fff
    background-color: #b3ffc6
    border-color: #b3ffc6
    text-shadow: 0 0 1px #444

.btn-expectation-expected.active
    color: #fff
    background-color: #33ff66
    border-color: #33ff66
    text-shadow: 0 0 1px #222

.btn-expectation-unsure
    color: #fff
    background-color: #ffecb3
    border-color: #ffecb3
    text-shadow: 0 0 1px #444

.btn-expectation-unsure.active
    color: #fff
    background-color: #ffcc33
    border-color: #ffcc33
    text-shadow: 0 0 1px #222

.btn-expectation-unexpected
    color: #fff
    background-color: #ffb3b3
    border-color: #ffb3b3
    text-shadow: 0 0 1px #444

.btn-expectation-unexpected.active
    color: #fff
    background-color: #ff3333
    border-color: #ff3333
    text-shadow: 0 0 1px #222


.btn-s
    padding: .3rem
    font-size: .7rem
    line-height: 1
    border-radius: .2rem

.btn-jumbo
    font-size: 2em
    font-weight: bold
    line-height: 100px